<form autocomplete="off" spellcheck="off">
    <div class="form-group">
        <label>{{localize "RSK.Damage"}}</label>
        <input id="damage-value" type="number" name="damage" value="{{damage}}">
    </div>
    <hr />
    <button class="apply" type="button">{{localize "RSK.ApplyDamage"}}</button>
</form>