<div class="dialog-content">
    <select class="castable-dropdown">
        {{#each castables as |castable|}}
        <option value="{{castable._id}}">{{castable.name}}</option>
        {{/each}}
    </select>
</div>


<div class="dialog-buttons">
    <button class="confirm-button">{{localize "RSK.Confirm"}}</button>
</div>