<div class="dialog-content">
    <select class="item-dropdown">
        {{#each items as |item|}}
        <option value="{{item._id}}">{{item.name}}</option>
        {{/each}}
    </select>
</div>


<div class="dialog-buttons">
    <button class="confirm-button">{{localize "RSK.Confirm"}}</button>
</div>