<div>
    <div>
        <label>{{localize "RSK.Amount"}}:</label>
        <input type="number" class="add-gold-input" id="amount">
    </div>
    <button class="confirm">
        <i class="fas fa-check"></i>
        {{localize "RSK.Confirm"}}
    </button>
</div>