<ol class="items-list">
    {{#each system.qualities as |quality|}}
    <li class="quality item flexrow" data-quality-id="{{quality.sourceUuid}}">
        <div class="item-name flexrow">
            <h4>{{quality.name}}</h4>
        </div>
        <div class="item-controls">
            <a class="item-control item-delete quality-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>