<label>{{localize "RSK.AwardedFor"}}</label>
<input name="system.awardedForDescription" type="text" value="{{system.awardedForDescription}}">

<label>{{localize "RSK.Effects"}}</label>
<input name="system.effectsDescription" type="text" value="{{system.effectsDescription}}">