<label>{{localize "RSK.Uses"}}</label>
<input name="system.usesDescription" type="text" value="{{system.usesDescription}}">

<label>{{localize "RSK.Effects"}}</label>
<input name="system.effectsDescription" type="text" value="{{system.effectsDescription}}">