<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
    <a class="item" data-tab="crafting">{{localize "RSK.Crafting"}}</a>
</nav>