<div>
    <h3>{{localize "RSK.Uses"}}:</h3>
    <p>
        {{system.usesDescription}}
    </p>
</div>
<div>
    <h3>{{localize "RSK.Effects"}}:</h3>
    <p>
        {{system.effectsDescription}}
    </p>
</div>