<form data-can-drop="true">
    <div class="form-group">
        <label>{{localize "RSK.ActionType"}}:</label>
        <input type="text" name="system.actionType" value="{{actionType}}">
    </div>
    <ol class="items-list">
        {{#each actions as |action|}}
        <li class="item flexrow" data-item-id="{{action.itemId}}">
            {{action.name}}
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
    </ol>
</form>