<form data-can-drop="true">
    <div class="form-group">
        <label>{{localize "RSK.ActionType"}}:</label>
        <input type="text" name="system.actionType" value="{{actionType}}">
    </div>
    <ol class="items-list">
        {{#each actions as |action|}}
        <li class="item flexrow">
            {{action.name}}
        </li>
        {{/each}}
    </ol>
</form>