<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>

    <label for="rsk-resource-uses">Uses</label>
    <input id="rsk-resource-uses" type="text">

    <label for="rsk-resource-effects">Effects</label>
    <input id="rsk-resource-effects" type="text">

    <label for="rsk-resource-cost">Cost</label>
    <input id="rsk-resource-cost" type="number">

    <hr />

    <h3>Gathering Requirements</h3>
    <label for="rsk-resource-gathering-equipment-needed">Equipment Needed</label>
    <input id="rsk-resource-gathering-equipment-needed" type="text">

    <label for="rsk-resource-gathering-location">Location</label>
    <input id="rsk-resource-gathering-location" type="text">

    <h3>Crafting Requirements</h3>
    <label for="rsk-resource-crafting-resource-needed">Resource Needed</label>
    <input id="rsk-resource-crafting-resource-needed" type="text">

    <label for="rsk-resource-crafting-equipment-needed">Equipment Needed</label>
    <input id="rsk-resource-crafting-equipment-needed" type="text">

    <hr />

    <label for="rsk-resource-cost">Tags</label>
    <input id="rsk-resource-cost" type="text">
</form>