<div class="actor-toolbar">
    <div class="actor-application" application-method="characterDamage" data-tooltip="{{localize 'RSK.TakeDamage'}}"
        glow-color=" red"><i class="fas fa-heart"></i></div>
</div>