<ol class="items-list">
    {{#each items as |item|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
            <div>
                <strong>{{item.name}}</strong>
                {{#if item.system.isStackable}}
                <em>(qty: {{item.system.quantity}})</em>
            </div>
            {{/if}}
            {{#if item.system.equipped}}
            <a class="item-control item-equip" title="Equip Item">equip</a>
            {{/if}}
        </div>
        {{#if item.system.description}}
        <div class="item-content">
            {{item.system.description}}
        </div>
        {{/if}}
        {{!-- todo reduce quantity, don't remove all --}}
        <a class="item-control item-delete" title="Equip Item">remove</a>
    </li>
    {{/each}}
</ol>