/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
    --button-tan: linear-gradient(to right, #8b4513, #a0522d, #8b4513);
    --color-primary: #994523;
    --color-secondary: #431a0e;
    --color-alt: #2c1a44;
    --color-dark: #1f2326;
    --color-border-light-primary: #a79687;
    --color-paper:#dfddd1;
    --color-tan-dark: #e2d1b1;
    --color-tan: #cac3b4;
    --color-tan-light: #f2e4c7;
    --color-text-light: #fff;
    --color-text-light-highlight: #f9fafb;
    --color-text-dark-primary: #2f3337;
    --color-text-dark-secondary: #545658; 
    --color-underline-header: #782e22;
    --color-shadow-subtle: rgba(0,0,0,0.45);
    --color-light-gray: rgba(0,0,0,0.45);
    --color-gray:#a9a8a5;
    --color-rsk-brown: #95835e;
    --color-gold: #cfb53b;
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --line-height-12: 0.75rem;
    --line-height-16: 1rem;
    --line-height-20: 1.25rem;
    --line-height-30: 1.875rem;
    --color-level-info: #5c87b9;
    --color-level-warning: #b18404;
    --color-level-error: #750003;
    --color-level-success: #266c3c;


}

.ml-1 {
    margin-left: 6px;
}

.ml-2 {
    margin-left: 12px;
}

.ml-3 {
    margin-left: 18px;
}

.mr-1 {
    margin-right: 6px;
}

.mr-2 {
    margin-right: 12px;
}

.mr-3 {
    margin-right: 18px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.flex-end {
    justify-content: flex-end;
}



/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */

/* #region Sidebar */
.actor.sheet .editable.character .profile-img {
    border-radius: 50%;
    border: none;
    box-shadow: 0 1px 7px var(--color-light-gray);
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 12px;
    object-fit: contain;
}

.actor.sheet .sheet-header h1.charname input[type="text"] {
    border:none;
    border-radius: 0;
    background-color:transparent;
    border-bottom: 1px solid transparent;
    font-weight: 500;
    font-size: var(--font-size-24);
    color: var(--color-level-error);
    line-height: var(--font-size-24);
    margin-left: 0;
    height: auto;
}

.actor.sheet .sheet-header h1.charname input[type="text"]:hover {
    border-bottom: 1px dotted var(--color-level-error);
}

.actor.sheet .sheet-header h1.charname input[type="text"]:focus {
    border-bottom: 1px solid var(--color-level-error);
    box-shadow: none;
}

.actor.sheet .sheet-container .actor-toolbar {
    display: flex;
    justify-content: space-evenly;;
}

.actor.sheet .sheet-container .sidebar .rsk.stats .stats-group,
.actor.sheet .sheet-container .sidebar .rsk.abilities .stats-group {
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.actor.sheet .sheet-container .sidebar .rsk.stats .stats-group .stats-box,
.actor.sheet .sheet-container .sidebar .rsk.abilities .stats-group .stats-box {
    border: none;
    width: 100%;
    
}

.actor.sheet .sheet-container .sidebar .rsk.abilities .stats-group .stats-box {
    width: 85px;
}

.actor.sheet .sheet-container .sidebar .rsk.stats .stats-group .stats-box .stats-label {
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.actor.sheet .sheet-container .sidebar .rsk.stats .stats-group .stats-box .stats-value-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.actor.sheet .sheet-container .sidebar .rsk.stats .stats-group .stats-box .stats-value-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 3px;
}
/* #endregion */

/* #region Sheet Tabs */
.actor.sheet .sheet-container .sheet-tabs.tabs {
    justify-content: center;
} 

.actor.sheet .sheet-container .sheet-tabs .item {
    border-radius: 50%;
    border: 1px solid var(--color-rsk-brown);
    width:1.7rem;
    height: 1.7rem;
    transition: all 0.1s ease-out;
}

.actor.sheet .sheet-container .sheet-tabs .item:hover {
    text-shadow: 0 0 10px var(--color-gold);
    transform: scale(1.3);
}

.actor.sheet .sheet-container .sheet-tabs .item.active {
    transform: scale(1.3);
    text-shadow: 0 0 10px var(--color-gold);
    background-color: var(--color-gold);
}

.sheet-container nav.sheet-tabs {
    border-top: none;
    margin: 0;
    padding-bottom: 6px;
}

.actor.sheet .sheet-container .sheet-tabs .item::before {
    content: "";
}

.actor.sheet .sheet-container .sheet-tabs .item i {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: -9px;
    font-size: 16px;
    box-shadow: none;
    color: var(--color-light-gray);
}

.actor.sheet .sheet-container .sheet-tabs .item:hover i {
    font-size: 18px;
}

.actor.sheet .sheet-container .sheet-tabs .item.active::after {
    content: "";
    width: 126%;
    height: 2px;
    left: -4px;
    margin-top: 9px;
    position: absolute;
    background-color: var(--color-border-light-primary);
}

.actor.sheet .sheet-container .sheet-tabs .item.active i {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    margin-top: -10px;
}
/* #endregion */

/* #region Skills Body */
.actor.sheet .sheet-container .sheet-body .rsk.skill-container {
    column-count: 2;
    column-gap: 60px;
    overflow: auto;
    margin-top: 16px;
    padding: 0 20px;
    height: 44vh;
}

.actor.sheet .sheet-container .sheet-body .rsk.skill-container .form-group {
    margin: 0;
    padding: 2px 0;
}

.actor.sheet .sheet-container .sheet-body .rsk.skill-container .form-group .fas {
    margin-right: 8px;
}

.actor.sheet .sheet-container .sheet-body .rsk.skill-container .form-group .roll-skill {
    display: flex;
    justify-content: flex-end;

}

.actor.sheet .sheet-container .sheet-body .rsk.skill-container .form-group .roll-skill .skill-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 12px;

}
/* #endregion */

/* #region Inventory Body */
.actor.sheet .sheet-container .sheet-body .inventory-active {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active header {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
    margin-top: 8px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active header h3,
.actor.sheet .sheet-container .sheet-body .inventory-active header div {
    display: flex;
}

.actor.sheet .sheet-container .sheet-body .inventory-active header h3 {
    width: 100%;
    border-bottom: none;
    align-items: self-end;
    margin-bottom: 0.4rem;
}

.actor.sheet .sheet-container .sheet-body .inventory-active header label {
    margin-right: 12px;
    
}
.actor.sheet .sheet-container .sheet-body .inventory-active header input {
    margin-right: 15px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md,
.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md {
    width: 75px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm {
    width: 50px;
    align-items: flex-end;
    align-self: flex-end;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md img,
.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm img {
    background-color: var(--color-tan);
    display: flex;
    width: 100%;
    border: 1px solid var(--color-rsk-brown);
    border-radius: 5px;
    position: relative;
    object-fit: contain;
    padding: 5px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md.disabled img,
.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm.disabled img {
    background-color: var(--color-gray);
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md img {
    height: 75px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm img {
    height: 50px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md img:before,
.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm img:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-tan);
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md.disabled img:after,
.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm.disabled img:after {
    content: "X";
    font-family: 'Bruno Ace';
    width: 100%;
    height: 100%;
    background-color: var(--color-gray);
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    color: rgb(98 26 24 / 35%);
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-md.disabled img:after {
    font-size: 60px;
}

.actor.sheet .sheet-container .sheet-body .inventory-active .item-active-sm.disabled img:after {
    font-size: 42px;
}

.actor.sheet .sheet-container .sheet-body .inventory-list {
    padding: 0 .11rem 0 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.actor.sheet .sheet-container .sheet-body .inventory-list header {
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.3rem 0.3rem 0.4rem;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.actor.sheet .sheet-container .sheet-body .inventory-list header h3 {
    font-size: var(--font-size-14);
    margin: 0 0 3px;
    border-bottom: none;
    text-shadow: 0px 3px 5px rgba(0,0,0,.34);
}

.actor.sheet .sheet-container .sheet-body .inventory-list .items-list {
    margin: 0;
    padding: 0;
    border-top: none;
    border: 1px solid var(--color-underline-header);
    list-style-type: none;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.33);
}

.actor.sheet .sheet-container .sheet-body .inventory-list .items-list .item {
    color: var(--color-text-dark-secondary);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-13);
    justify-content: space-between;
    padding: 0 5px;
}

.actor.sheet .sheet-container .sheet-body .inventory-list .items-list .item:nth-of-type(even) {
    background-color: var(--color-tan);
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-name {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    width: 60%;
    padding: 5px 0;
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-name img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 4px;
    padding: 3px;
    object-fit: contain;
    background-color: var(--color-tan);
    border-color: var(--color-rsk-brown);
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-name h4 {
    margin: 0 0 0 5px;
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-quantity {
    flex-basis: 5rem;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    display: flex;
    
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item .item-quantity {
    font-size: 16px;
    justify-content: space-around;
}

.actor.sheet .sheet-container .sheet-body .inventory-list .items-list .item-quantity {
    border-left: 1px solid var(--color-tan);
    border-right: 1px solid var(--color-tan);
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-controls {

    gap: .55rem;
    display: flex;
    align-items: center;
    flex-basis: 6.25rem;
    justify-content: flex-end;
}

.actor.sheet .sheet-container .sheet-body .inventory-list .item-summary {
    flex: 100%;
    padding: 10px 5px 8px;
}

/* #endregion */

/* ----------------------------------------- */
/*  Sidebar Directory                        */
/* ----------------------------------------- */

/* #region Directory Items */
.directory .directory-item img {
    object-fit: contain;
    padding: 5px;
}


/* endregion */








.rsk.sheet .editor {
    height: 100%;
}

.rsk.sheet.actor [data-tab="edit"] .editor {
    padding: 0 8px;
    min-height: 200px;
}

.dice-tooltip .dice-rolls .roll.min {
    color: #18520b !important;
    filter: sepia(0.5) hue-rotate(60deg);
}

.dice-tooltip .dice-rolls .roll.max {
    color: #aa0200 !important;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.sheet-tabs .item {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s ease;
}

.sheet-tabs .item:hover {
    background-color: #ddd;
}

.sheet-tabs .item[data-tab]:not([data-tab=""]):before {
    content: attr(data-tab);
    display: block;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #999;
}



.stats-toolbar {
    flex: 1;
    justify-content: space-between;
}

.stats-group {
    border: single 3px #000;
    margin-bottom: 5px;
    flex: 2;
}

.stats-box {
    border: double 3px #000;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
}
.stats-label {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 2px;
}

.stats-values {
    display: flex;
    justify-content: space-between;
}

.stats-value-center,
.stats-value-right{
    content: attr(data-stat);
    flex: 1;
    padding: 2px;
    background-color: #f9f9f900;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
}

input.stats-value-left[type=number] {
    text-align: center;
    flex: 1;
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sheet-container {
    display: flex;
}

.sidebar {
    flex: 0 0 200px;
    padding: 5px;
    border-right: 1px solid #ddd;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
}

.actor-application {
    position: relative;
}

.actor-application i {
    font-size: 1.5em;
    padding: 10px;
}

.actor-application:hover {
    transform: scale(1.25);
}
.actor-application:hover::after {
    content: attr(effect-label);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
}

@keyframes glow {

    0%,
    100% {
        background-color: transparent;
        box-shadow: 0 0 5px var(--glow-color);
    }

    50% {
        background-color: var(--glow-color);
        box-shadow: 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
    }
}

.actor-application.clicked i {
    animation: glow 1s linear;
    border-radius: 50%;
}