<ol class="items-list">
    {{#each effects as |effect|}}
    <li class="item flexrow" data-effect-id="{{effect._id}}">
        <div class="item-name flexrow">
            <h4>{{effect.name}}</h4>
        </div>
        <div class="item-controls">
            <a class="item-control effect-edit" title="Edit Effect"><i class="fas fa-edit"></i></a>
            <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    <li class="item flexrow">
        <div class="item-controls">
            <a class="item-control effect-create" title="Create Effect">
                <i class="fas fa-plus"></i> {{localize "RSK.AddEffect"}}
            </a>
        </div>
    </li>
</ol>