<ol class="items-list">
    {{#each effects as |effect|}}
    <li class="item flexrow" data-effect-id="{{effect._id}}">
        <div class="item-name flexrow">
            <strong>{{effect.name}}</strong>
        </div>
        {{#if effect.description}}
        <div class="item-name flexrow">
            {{editor effect.description target="effect.description" editable=false engine="prosemirror"}}
        </div>
        {{/if}}
    </li>
    {{/each}}
</ol>